body{
    background-color: #1b1b32;
    padding-top: 20px;
    font-family: Tahoma;
    font-size: 16px;
    color: white;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

form {
    width: 660px;
    
    min-width: 300px;
    margin: 0px auto;
    padding-bottom: 2em;
}


#balances{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 550px;
    max-width: 500px;
    align-items: center;
    border: none;
    margin: 0px auto;
    border-bottom: 3px solid #3b3b4f;
  }

  legend{
    text-align: center;
  }

  .initial{
    margin: 10px;
    max-width: 120px;
  }

 .initial input{
    width: 100px;
    display: block;
 }

 #current{
    width: 60px;
    border: none;
    margin: 0px auto;
    margin-top: 10px;
 }

 .table{
    
    margin-bottom: 30px;
 }

 .table label input{
    width: 100px;
 }

 #current .table:first-of-type{
    margin-top: 30px;
 }

 button{
    margin: 0px auto;
    padding: 15px 10px;
    border-radius: 5px;
    display: block;
    font-size: 16px;
 }
#template{
   margin-top: 10px;
   margin: 0px auto;
   width: 650px;
   border-top: 3px solid #3b3b4f;
   height: 1000px;
}

#template h2{
   text-align: center;
   margin-top: 10px;
}

 #template p{
   text-align: center;
   margin-top: 7px;
 }

 .balance, .collection, .players{
   width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#time-container{
   width: 650px;
   height: 50px;
   
   text-align: center;
}

#time{
   margin-right: 23px;
}

 @media (max-device-width: 425px){
   body{
      margin: 0px auto;
   }
   form{
      width: 750px;
   }

   #current{
      margin: 0px auto;
      width: 750px;
   }

   .balance, .collection, .players{
      width: 50px;
   }

 }
